# Don't Store the dev logs in the repo
logs/
# Don't store Cargo build outputs 
static-site-generator/target/
# Don't store the generated website
static-site-generator/result
# Don't store any Nix Flake build outputs
result/
